.news-list__ears {
    padding: 20px 10px 20px 10px;
}

.news-list__heading {
    padding: 0;
    margin: 0 0 20px 0;
    text-align: center;
    font-weight: 500;
}


@media screen and (min-width: 425px) {
    .news-list__ears {
        padding: 20px 0 20px 0;
        display: flex;
        flex-direction: column;
    }
}